<table>
	<tr>
		<th>Classes</th>
	</tr>
	<% @standards.each do |standard| %>
	<tr>
		<td><%= standard.class_name %></td>
		<td><%= button_to "show" , standard_path(standard , ) , method: :get %></td>
		<% if current_user.has_role?(:faculty) %>
		<td><%= button_to "edit" , edit_standard_path(standard) , method: :get %></td>
		<td><%= button_to "destroy" , standard_path(standard) , method: :delete ,  data: { confirm: 'Are you sure?' } %></td>
		<% end %>
	</tr>
	<% end %>
</table>